.container {
    display: flex; 
    justify-content: space-between; 
    height: 100vh; 
    /* padding: 30px; */
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;   
    }
  }