
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Raleway', sans-serif 
}

body {
  background-color: rgb(255, 255, 255);
}

.notFound{
  align-items: center;
  font-size: larger;
}
